{% extends "base.html" %}

{% block body %}


<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="">Home</a>
                <span class="breadcrumb-item active">Signin</span>
            </nav>
        </div>
    </div>
</div>


<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Login Here</span></h2>
    <div class="row px-xl-5">

        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>

                <form novalidate="novalidate" method='POST' action='/login/'>
                    {% csrf_token %}

                    <div class="control-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                            required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Your Password"
                            required="required" data-validation-required-message="Please enter your password" />
                        <p class="help-block text-danger"></p>
                    </div>

                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit">Login</button>
                    </div>
                </form>

            </div>
        </div>
        
    </div>
</div>


{% endblock body %}